.animation-tap {
  animation: animation-tap 0.8s forwards;
}
@keyframes animation-tap {
  0% {
    top: -200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.lin::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: #20d598;
  bottom: 0;
  animation: scl infinite 3s;
  right: 0;
  border-radius: 10px;
}
@keyframes scl {
  0% {
    right: 0;
    transform: scaleX(0.1);
  }
  50% {
    right: 0;
    transform: scaleX(1.3);
  }
  100% {
    right: 0;
    transform: scaleX(0.1);
  }
}

.mi:hover .controls {
  bottom: 0.75rem;
}
.mi:hover .title {
  top: 0;
}

.backfooter {
  background: url(/src/assets/img/backfooter.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
